<!DOCTYPE html>
<html lang="en">
{%- assign ogtype = "article" -%}
{%-  if page.url == "/blog" or page.url == "/" -%}
  {%- assign ogtype = "website" -%}
{%- endif -%}

{%-  if renderData.title -%}
  {%- assign title = renderData.title -%}
{%- elsif  title == nil -%}
  {%- assign title = metadata.title -%}
{%- endif -%}

{%-  if renderData.description -%}
  {%- assign description = renderData.description -%}
{%- elsif description == nil -%}
  {%- assign description = metadata.description -%}
{%- endif -%}

{%-  if image == nil -%}
  {%- assign image = metadata.author.image_md -%}
{%- endif -%}

<head>
   <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="{{metadata.author.name}}">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="Samy Ouaret,Samy,Ouaret,web developer,React,PHP,Algeria">
    <!-- open graph -->    
    <meta property="og:site_name" content="{{metadata.author.name}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="{{metadata.url}}{{image}}">
    <meta property="og:type" content="{{ogtype}}">
    <meta property="og:url" content="{{metadata.url}}{{page.url}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{description}}">
     <!-- twitter -->
    <meta property="twitter:title" content="{{metadata.author.name}}">
    <meta property="twitter:description" content="{{metadata.description}}">
    <meta property="twitter:image" content="{{metadata.url}}{{image}}">
    <meta property="twitter:card" content="{{metadata.url}}{{image}}">

    <meta name="twitter:site" content="@samyouaret13">
    <meta name="twitter:creator" content="@samyouaret13">
    
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicons/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <meta name="theme-color" content="#41bff0">
    {%-  if style -%}
    <link rel="stylesheet" href="{{style}}">
    {%-  endif -%}
</head>

<body class="xl:w-2/3 max-w-screen-lg mx-auto min-h-screen"  style="min-height:400px">
    {{content}}
        <!--footer-->
    <div class="p-12 text-center flex flex-col">
        <div class="flex-row">
            <a class="p-3 text-2xl text-gray-700 hover:text-blue-400" href="{{metadata.links.twitter}}"><i
                    class="fa fa-twitter"></i></a>
            <a class="p-3 text-2xl text-gray-700 hover:text-gray-900" href="{{metadata.links.github}}"> <i
                    class="fa fa-github"></i></a>
            <a class="p-3 text-2xl text-gray-700 hover:text-blue-600" href="{{metadata.links.linkedin}}"><i
                    class="fa fa-linkedin"></i></a>
        </div>
        <div class="pt-6 pb-2 text-lg">
            This site is built with
            <a class="text-gray-700 hover:text-gray-900" href="https://www.11ty.dev/">11ty</a>, <a
                class="text-gray-700 hover:text-gray-900" href="https://reactjs.org">ReactJS</a>,
            <a class="text-gray-700 hover:text-gray-900" href="https://tailwindcss.com/">TailwindCss</a>, and hosted by
            <a class="text-gray-700 hover:text-gray-900" href="https://netlify.com/"> Netlify</a>.
        </div>
    </div>

{%-  if script -%}
  <script src="{{script}}"></script>
{%-  endif -%}
    <link defer href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/a4efe37a32.js"></script>
</body>
</html>