---
layout: blog_layout.njk
permalink : "blog/{{ title | slugify }}/index.html"
style : /build/css/tailwind.css
templateClass:
home : /blog
---
<article class="flex flex-col mt-6 p-2">
{% if title %}
<h1 class="font-bold text-4xl text-gray-800">{{title}}</h1>
<time class="text-md text-gray-700 ml-2 mt-2">{{ date | readableDate}}</time>
{% endif %}
<section class="text-lg text-gray-800 leading-loose mt-6">
{{ content | safe }}
</section>
</article>
<link rel="stylesheet" href="/build/css/theme.css">
 <div class="my-3 p-2">
 <span class="text-lg text-gray-700 mr-2">Share </span>
        {%- capture postUrl -%}{{metadata.url}}{{page.url}}{%- endcapture -%}
        <a class="bg-blue-400 text-lg text-white rounded-full w-8 h-8 inline-block text-center leading-relaxed" 
        href="http://twitter.com/share?text={{title | url_encode}}&url={{postUrl}}">
        <i class="fa fa-twitter"></i></a>
        <a class="bg-blue-600 text-lg text-white rounded-full w-8 h-8 inline-block text-center leading-relaxed" 
        href="https://www.linkedin.com/shareArticle?mini=true&url={{postUrl}}&title={{title | url_encode}}">
        <i class="fa fa-linkedin"></i></a>
        <a class="bg-blue-800 text-lg text-white rounded-full w-8 h-8 inline-block text-center leading-relaxed" 
        href="https://www.facebook.com/sharer/sharer.php?u={{postUrl}}">
        <i class="fa fa-facebook"></i></a>
</div>