---
layout: blog_layout.njk
permalink : "blog/{{ title | slugify }}/index.html"
style : /build/css/tailwind.css
templateClass:
home : /blog
---
<article class="flex flex-col mt-6 p-2">
{% if title %}
<h1 class="font-bold text-4xl text-gray-800">{{title}}</h1>
<time class="text-md text-gray-700 ml-2 mt-2">{{ date | readableDate}}</time>
{% endif %}
<section class="text-gray-900 leading-relaxed mt-6" style="font-size: 1.15rem;"> 
{% if image %}
<img defer src="{{image}}" alt= "{{title}}"  class="my-4 mx-auto max-w-full"/>
{% endif %}
{{ content | safe }}
</section>
<div class="mt-6">
{%- if topics -%}
{%- for topic in topics -%}
  {%- capture tagUrl -%}/tags/{{ topic }}/{%- endcapture -%}
  <a href="{{ tagUrl | url }}" 
  class="px-2 py-1 text-md border rounded-sm border-gray-400 text-gray-700 
  hover:text-blue-700 bg-blue-100 mr-1">{{ topic }}</a>
{%- endfor -%}
{%- endif -%}
</div>
</article>
 <div class="my-3 p-2">
 <span class="text-lg text-gray-700 mr-2">Share </span>
        {%- capture postUrl -%}{{metadata.url}}{{page.url}}{%- endcapture -%}
        <a class="bg-blue-400 text-lg text-white rounded-full w-8 h-8 inline-block text-center leading-relaxed" 
        href="http://twitter.com/share?text={{title | url_encode}}&url={{postUrl}}">
        <i class="fa fa-twitter"></i></a>
        <a class="bg-blue-600 text-lg text-white rounded-full w-8 h-8 inline-block text-center leading-relaxed" 
        href="https://www.linkedin.com/shareArticle?mini=true&url={{postUrl}}&title={{title | url_encode}}">
        <i class="fa fa-linkedin"></i></a>
        <a class="bg-blue-800 text-lg text-white rounded-full w-8 h-8 inline-block text-center leading-relaxed" 
        href="https://www.facebook.com/sharer/sharer.php?u={{postUrl}}">
        <i class="fa fa-facebook"></i></a>
</div>
<div id="disqus_thread" class="mt-6"></div>
<script>
var disqus_config = function () {
this.page.url = "{{metadata.url}}";  
this.page.identifier = "{{page.path}}";
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://samyouaret.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<link defer rel="stylesheet" href="/build/css/theme.css">